html,body,#root{
  height: 100%;
}


#root{
  display: grid;
  place-items: center;
}


.chess-board{
  position: absolute;
  inset: 0;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);

}
.App{
 width: 100%;
 max-width:  600px;
 border: solid 5px #ccc;

}

.chess-board-container{
  width: 100%;
  margin: auto;
  height: 0px;
  position: relative;
  padding-top: 100%;

}
.chess-pawn{
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
}



